<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo header__logo" aria-label="recidiviz logo">

      </a>

      <nav class="nav" title="Main navigation">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">States</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Tools</a></li>
          <li class="nav__item"><a href="#" class="nav__link">People</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Learn more</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Donate</a></li>
        </ul>

        <a class="nav__link" href="#">Log in</a>
      </nav>
    </div>
  </div>
</header>
