<section class="hero">
  <div class="container grid">
    <div class="hero__content">
      <h1 class="hero__title">Every person who safely transitions back to the community is a step toward a better society.
      </h1>
      <p class="hero__descr">Criminal justice leaders use Recidiviz to get a real-time picture of their system, diagnose
        issues, and drive meaningful changes.</p>

      <a class="hero__link" href="#">See our work in action</a>
    </div>

  </div>
  <div class="container hero__bottom-container">
    <div class="hero-trust">
      <h3 class="hero-trust__title">Trusted in:</h3>
      <ul class="hero-trust__list list-reset grid">
        <li class="hero-trust__item">
          Idaho
        </li>

        <li class="hero-trust__item">
          Maine
        </li>

        <li class="hero-trust__item">
          Missouri
        </li>

        <li class="hero-trust__item">
          Dakota
        </li>

        <li class="hero-trust__item">
          Pennsylvania
        </li>

        <li class="hero-trust__item">
          Tennessee
        </li>
      </ul>
    </div>
  </div>
</section>
