<section class="step">
  <div class="step__container">
    <h2 class="step__title section-title">We are a non-profit that partners with state criminal justice agencies to advance their use of data and reduce incarceration.</h2>
    <ul class="step__items list-reset">
      <li class="step__item">
        <p class="step__text">intake an agency’s disjointed data</p>
      </li>

      <li class="step__item step__item--line">
      </li>

      <li class="step__item">
        <p class="step__text">deploy tools for all levels of decision making</p>
      </li>

      <li class="step__item step__item--line">
      </li>

      <li class="step__item">
        <p class="step__text">improve outcomes for justice-impacted individuals</p>
      </li>

    </ul>

  </div>
</section>
